$open-sans: 'Open Sans', sans-serif;
$theme-bg: #F9F9F9;
$theme-color: #9014FE;
$light-text-color: #687385;
$dark-text-color: #1C1D1E;
$border-color: #EEEDED;

$image-hub: 'https://s3.amazonaws.com/projecthub365-assets/hub-common';
$image-path: 'https://s3.amazonaws.com/projecthub365-assets/hub-admin';